<div class="col-lg-3 col-md-3 col-sm-6" style="padding-right: 0;">
    <label for="response" class="block text-gray-700 text-sm font-bold mb-2">Encounter </label>
    <iframe srcdoc="{{et1_html}}" width="100%" class="rounded border"  style="margin-bottom: 5px;  background-color: white; height: 23vh; overflow: auto;" placeholder="Encounter 1 will appear here"></iframe>
</div>

<div class="col-lg-9 col-md-9 col-sm-6">
    <div class="input-group2">
        <label for="response" class="block text-gray-700 text-sm font-bold mb-2">Response:</label>
        <textarea id="response" class="w-full p-2 border rounded focus:outline-none focus:ring-2 focus:ring-blue-300" 
        placeholder="Generated response will appear here" readonly style="resize: none; height: 76vh; overflow: auto; background-color: white; ">{{ response }}</textarea>
    </div>
</div>


